pandas==1.4.3
fastapi==0.85.2
langchain==0.0.223
python-multipart==0.0.6
uvicorn==0.18.3
openai==0.27.4
faiss-cpu==1.7.3
huggingface-hub==0.16.4
openapi-schema-pydantic==1.2.4
pydantic==1.10.7
anthropic==0.2.6
llama-cpp-python==0.1.32
pypdf==3.12.0
filetype==1.2.0
altair==4.2.2
tokenizers==0.13.3
sentence-transformers==2.2.2
scikit-learn==1.2.1
llama-index==0.7.9
streamlit==1.21.0
faiss-cpu==1.7.3
tiktoken==0.3.3